
.Menu {
    width: 100%;
    text-align: center;
}

ul.level1 {
    width: 100% !important;
    text-align: center;
}

.level1 li {
    width: 15%;
    text-align: center;
}

ul.level2 {
    width: 100% !important;
}

.level2 li {
    width: 100%;
}
